{
  "extends": [ 
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    node: true,
    browser: true,
    mocha: true,
    mongo: true
  },
  "parserOptions": {
      ecmaVersion: 6,
      ecmaFeatures: {
          jsx: true,
      },
      sourceType: "module"
  },
  "plugins":["react"]
}